Body, HTML{
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    margin: 0;
    padding: 0;
}

.master{
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    padding: 10px;
    background-color: #1f2937;
    color: white;
    flex-direction: column;
    font-family:'Roboto';
}

.headerbottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
}

.leftcontent{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15px;
}

.leftcontent .title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    font-family: 'Roboto';
}

.headerlogo{
    font-size: 24px;
    color: #f9faf8
}

.leftcontent .body{
    font-size: 18px;
    color: E5E7EB;
}

button{
    background-color: #3882f6;
    border-radius: 10px;
    border: 2px solid #00AA66;
    padding: 5px 15px 5px 15px;
    color: white;
}

.rightcontent{
    flex: 1;
}

.rightcontent img{
    width: 100%;
    height: 100%;
}

.headertop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}

.header .linklist li {
    display: inline;
    margin: 5px;
}

.header .linklist li {
    display: inline;
    margin: 10px;
}

.header .linklist ul {
    padding: 0;
    margin: 10px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.main .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main .title{
    font-weight: bold;
    font-size: 32px;
}

.pair{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: wrap;
}

.pair .image img {
    width: 150px;
    height: 150px;
    border: 3px solid red;
}

.pair .text{
    align-self: center;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.action .acontent .left-content{
    display: flex;
    flex-direction: column;
}

.acontent{
    display: flex;
    background-color: #3882F6;
    padding: 20px 80px;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}

.abutton button{
    border: 1px solid white;
    margin-left: 20px;
}

.atitle{
    font-weight: bold;
    margin-bottom: 5px;
}

.quote{
    display: flex;
    flex-direction: column;
    padding: 30px 150px 30px 150px;
    background-color: #e5e7eb;
}

.quotetext{
    font-size: 36px;
}

.quotename{
    align-self: flex-end;
}


.footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1f2937;
    color: white;
}
